.createPost_container{
    height:100%;
    width:820px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}
.form-field{
    width:100%;
    display: flex;
    flex-direction: column;
    margin:15px 0;
}
.form-field>label {
    margin-bottom: 5px;
}
.form-field>input {
    height:30px;
}
.form-field>textarea {
    height:200px;
    width:800px;
    resize: none;
}


.postdetail_container{
    margin: 40px;
    border: 2px solid blue;
    padding: 10px 5px;
    box-sizing: border-box;
    min-height:400px;
    width:800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.postdetail_container > h2{
    font-family: sans-serif;
    font-size:xx-large;
    color: brown;
    border-bottom: 1px solid black;

}
.postdetail_container > p{
    margin-top: 10px;
    width:750px;
    overflow-wrap: break-word;

}